@model CommonJobs.Domain.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</p>

<fieldset>
    <legend>Employee</legend>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">HiringDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HiringDate)
    </div>

    <div class="display-label">BirthDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>

    <div class="display-label">InitialRemuneration</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitialSalary)
    </div>

    <div class="display-label">CurrentRemuneration</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentSalary)
    </div>

    <div class="display-label">Schedule</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Schedule)
    </div>

    <div class="display-label">WorkingHours</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkingHours)
    </div>

    <div class="display-label">FileId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileId)
    </div>

    <div class="display-label">Lunch</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lunch)
    </div>

    <div class="display-label">BankAccount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankAccount)
    </div>

    <div class="display-label">HealthInsurance</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HealthInsurance)
    </div>

    <div class="display-label">Platform</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Platform)
    </div>

    <div class="display-label">Skills</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Skills)
    </div>

    <div class="display-label">SkillLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SkillLevel)
    </div>

    <div class="display-label">Certifications</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Certifications)
    </div>

    <div class="display-label">College</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.College)
    </div>

    <div class="display-label">Degree</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Degree)
    </div>

    <div class="display-label">IsGraduated</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsGraduated)
    </div>

    <div class="display-label">InitialPosition</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitialPosition)
    </div>

    <div class="display-label">CurrentPosition</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentPosition)
    </div>

    <div class="display-label">Seniority</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Seniority)
    </div>

    <div class="display-label">EnglishLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnglishLevel)
    </div>

    <div class="display-label">CurrentProject</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentProject)
    </div>

    <div class="display-label">Agreement</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Agreement)
    </div>

    <div class="display-label">Vacations</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vacations)
    </div>

    <div class="display-label">Comments</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
