@model IEnumerable<CommonJobs.Domain.Employee>
@using CommonJobs.Utilities;

@{
    Layout = null;

    foreach (var employee in Model)
    {
        var employeePic = string.IsNullOrEmpty(employee.PictureUrl)
            ? Url.Content("~/Content/Images/NoPicture.png")
            : employee.PictureUrl;
        
        <div class="employeeCard column">
            <img class="employeePicture" src="@employeePic" alt="@employee.FirstName @employee.LastName's picture" width="32" height="32" />
            <div class="employeePreview">
                <p class="employeeName">@employee.FirstName @employee.LastName</p>
                <p class="employeePosition">@employee.CurrentPosition</p>
                <p>@Html.ActionLink("Details", "Details", new { id = employee.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = employee.Id })</p>
            </div>
        </div>
    }
}