@model IEnumerable<EmployeeFile.Models.EmployeeListView>

@{
    Layout = null;
}

<table>
    <tr>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            WorkingSince
        </th>
        <th>
            InitialRemuneration
        </th>
        <th>
            CurrentRemuneration
        </th>
        <th>
            Schedule
        </th>
        <th>
            FileId
        </th>
        <th>
            Lunch
        </th>
        <th>
            BankAccount
        </th>
        <th>
            HealthInsurance
        </th>
        <th>
            Platform
        </th>
        <th>
            CurrentPosition
        </th>
        <th>
            SalaryIncreases
        </th>
        <th>
            CurrentProyect
        </th>
        <th>
            Agreement
        </th>
        <th>
            Comments
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingSince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialRemuneration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentRemuneration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lunch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HealthInsurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Platform)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryIncreases)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentProyect)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agreement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
