@model IEnumerable<CommonJobs.Domain.Employee>
@using CommonJobs.Utilities;

@{
    Layout = null;

    foreach (var employeeRow in Model.Batch(12))
    {
        <div class="row">
            @foreach (var employee in employeeRow)
            {
                var lastInRow = employeeRow.Last() == employee;
                
                <div class="onecol @(lastInRow ? "last" : "")">
                    <img src="//TODO" alt="@employee.FirstName @employee.LastName's picture" width="32" height="32" />
                    @employee.FirstName @employee.LastName
                    @employee.CurrentPosition
                    @Html.ActionLink("Edit", "Edit", new { id= employee.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = employee.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = employee.Id })
                </div>
            }
        </div>
    }
}