@{
    ViewBag.Title = "Ausencias · CommonJobs";
    ScriptManager.RegisterCss(Url.Content("~/Content/ie.css"), priority: 500, htmlAttributes: new { media = "screen" }, patchCondition: "lte IE 9");
    ScriptManager.RegisterCss(Url.Content("~/Content/1140.css"), priority: 500, htmlAttributes: new { media = "screen" });
    ScriptManager.RegisterCss(Url.Content("~/Content/reset.css"), priority: 500);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/DataTables/jquery.dataTables.js"));
    ScriptManager.RegisterJs(Url.Content("~/CJLogic/CJLogic.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/DataTablesHelpers/DataTablesHelpers.js"));
    ScriptManager.RegisterCss(Url.Content("~/Content/Absences/Absences.less"));
    ScriptManager.RegisterJs(Url.Content("~/Content/Absences/Absences.js"));
    ScriptManager.RegisterCss(Url.Content("~/Content/DataTables/css/jquery.dataTables.css"));
    ScriptManager.RegisterJs(Url.Content("~/Content/TableTools-2.1.4/media/js/ZeroClipboard.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/TableTools-2.1.4/media/js/TableTools.js"));
    ScriptManager.RegisterCss(Url.Content("~/Content/TableTools-2.1.4/media/css/TableTools.css"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/AjaxHelper.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/DataTables/dataTables.bootstrap.js"));
    ScriptManager.RegisterGlobalJavascript("TableTools.DEFAULTS.sSwfPath", Url.Content("~/Content/TableTools-2.1.4/media/swf/copy_csv_xls_pdf.swf"));

    var monthsAndDays = GetDays((int)ViewBag.Year)
        .Select((x, idx) => new 
        { 
            Month = x.Month,
            Day = x.Day.ToString("00"), 
            Weekend = x.DayOfWeek == DayOfWeek.Saturday || x.DayOfWeek == DayOfWeek.Sunday
        })
        .ToLookup(x => x.Month);
}

@functions 
{
    IEnumerable<DateTime> GetDays(int year)
    {
        var date = new DateTime(year, 1, 1);
        while (date.Year == year)
        {
            yield return date;
            date = date.AddDays(1);
        }
    }
}

<style>
    /* TODO: move to a .css file */
    .popover h3.popover-title {
        line-height: 1.1em;
        font-size: 1em;
        text-align: center;
    }

    .popover {
        width: 300px
    }

    .popover .dl-horizontal dt {
        width: 90px
    }
    
    .popover .dl-horizontal dd {
        margin-left: 95px;
    }


    @foreach (CommonJobs.Application.EmployeeAbsences.AbsencesReasonResult reason in ViewBag.Reasons)
    {
        var color = reason.Color ?? "#D2DCCE";
        @string.Format(@"
.cell-day.{0}, 
td.cell-day.absence.Full.{0} 
{{ 
    background-color: {1}; 
}}
td.cell-day.absence.Partial.{0} 
{{ 
    background-color: {1}; /* TODO: Add some effect to partial absence */ 
}}
td.cell-day.absence.RemoteWork.{0} 
{{ 
    background-color: {1}; /* TODO: Add some effect to remote work absence */ 
}}
.cell-day.{0}, 
td.cell-day.weekend.absence.Full.{0} 
{{ 
    background-color: {1}; /* TODO: Add some effect to weekend */ 
}}
td.cell-day.absence.weekend.Partial.{0} 
{{ 
    background-color: {1}; /* TODO: Add some effect to weekend partial absence */ 
}}
td.cell-day.absence.weekend.RemoteWork.{0} 
{{ 
    background-color: {1}; /* TODO: Add some effect to weekend remote work absence */ 
}}
", reason.Slug, color)
    }
</style>

@* Link to previous, next year? *@

<div class="bootstrap-scope">
    <table id="absences-table" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th></th>
            @foreach (var x in monthsAndDays)
            {
                //TODO: month name in spanish
                <th colspan="@x.Count()" class="center">@x.Key</th>
            } 
        </tr>
        <tr>
            <th class="cell-name">Nombre</th>
            @* Other columns with related abscence date, like employee summary, or something *@
            @foreach (var x in monthsAndDays)
            {
                foreach (var d in x)
                {
                    <th class=@("cell-day" + (d.Weekend ? " weekend" : ""))>@d.Day</th>
                }
            } 
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th class="cell-name"></th>
            @* Other columns with related abscence date, like employee summary, or something *@
            @foreach (var x in monthsAndDays)
            {
                foreach (var d in x)
                {
                    <th class=@("cell-day" + (d.Weekend ? " weekend" : ""))>@d.Day</th>
                }
            } 
        </tr>
        <tr>
            <th></th>
            @foreach (var x in monthsAndDays)
            {
                //TODO: month name in spanish
                <th colspan="@x.Count()" class="center" data-month="@x.Key">@x.Key</th>
            } 
        </tr>
    </tfoot>
    </table>
</div>