@{
    ViewBag.Title = "Ausencias · CommonJobs";
    ScriptManager.RegisterCss(Url.Content("~/Content/ie.css"), priority: 500, htmlAttributes: new { media = "screen" }, patchCondition: "lte IE 9");
    ScriptManager.RegisterCss(Url.Content("~/Content/1140.css"), priority: 500, htmlAttributes: new { media = "screen" });
    ScriptManager.RegisterCss(Url.Content("~/Content/reset.css"), priority: 500);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/DataTables/jquery.dataTables.js"));
    ScriptManager.RegisterJs(Url.Content("~/CJLogic/CJLogic.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/DataTablesHelpers/DataTablesHelpers.js"));
    ScriptManager.RegisterCss(Url.Content("~/Content/Absences/Absences.less"));
    ScriptManager.RegisterJs(Url.Content("~/Content/Absences/Absences.js"));
    ScriptManager.RegisterCss(Url.Content("~/Content/DataTables/css/jquery.dataTables.css"));
    ScriptManager.RegisterJs(Url.Content("~/Content/TableTools-2.1.4/media/js/ZeroClipboard.js"));
    ScriptManager.RegisterJs(Url.Content("~/Content/TableTools-2.1.4/media/js/TableTools.js"));
    ScriptManager.RegisterCss(Url.Content("~/Content/TableTools-2.1.4/media/css/TableTools.css"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/DataTables/dataTables.bootstrap.js"));
    ScriptManager.RegisterGlobalJavascript("TableTools.DEFAULTS.sSwfPath", Url.Content("~/Content/TableTools-2.1.4/media/swf/copy_csv_xls_pdf.swf"));
}

@* Link to previous, next year? *@

<div class="bootstrap-scope">
    <table id="absences-table" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th></th>
            @foreach (KeyValuePair<int, int[]> x in ViewBag.Months)
            {
                //TODO: month name in spanish
                <th colspan="@x.Value.Length" class="center" data-month="@x.Key">@x.Key</th>
            } 
        </tr>
        <tr>
            <th class="cell-name">Nombre</th>
            @* Other columns with related abscence date, like employee summary, or something *@
            @foreach (KeyValuePair<int, int[]> x in ViewBag.Months)
            {
                foreach (var d in x.Value)
                {
                    <th class="cell-day" data-month="@x.Key" data-day="@d">@d</th>
                }
            } 
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>