@{
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.7.1.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-ui-1.8.17.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-ui-i18n.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/modernizr-1.7.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/json2.min.js"), priority: 900);
    ScriptManager.RegisterGlobalizationEntries(Url.Content("~/Scripts/jquery.globalize"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/themes/base/jquery.ui.all.css"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/Site.css"), priority: 900);

    ScriptManager.RegisterJs(Url.Content("~/Scripts/css3-mediaqueries.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/underscore.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/backbone.js"), priority: 900);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.RenderScriptManagerEntries()
</head>

<body>
    <div class="page">
        <header style="float:right; text-align:center">
            <div id="logindisplay" >
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Postulantes", "Index", "Applicants")</li>
                    <li>@Html.ActionLink("Empleados", "Index", "Employees")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
