@using CommonJobs.Infrastructure.Mvc.SecurityTrimming
@using CommonJobs.Mvc.UI.HtmlHelpers
@{
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.7.2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-ui-1.8.23.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-ui-i18n.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/modernizr-1.7.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/json2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/moment.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/moment.i18n/es.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/twix.js"), priority: 900);
    ScriptManager.RegisterGlobalizationEntries(Url.Content("~/Scripts/jquery.globalize"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/themes/base/jquery.ui.all.css"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/Site.css"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/menu_style.less"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/css3-mediaqueries.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/underscore.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/backbone.js"), priority: 900);
    ScriptManager.RegisterGlobalJavascript("baseUrl", Url.Content("~"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/url-generator.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/jQuery-File-Upload/js/jquery.fileupload.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/DragAndDrop/DragAndDrop.js"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/bootstrap.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/responsive.less"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-modal.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-tooltip.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-popover.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-typeahead.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-collapse.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/EditCommon/Suggest.js"), priority: 900);
}
<!DOCTYPE html>
<html class="bootstrap-scope">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.RenderScriptManagerEntries(ScriptManager)
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")" />
</head>
<body>
    <header class="header__main">
        <div class="header__holder">
            <div class="suit-wrapper">
                <a href="@Url.Content("~")" class="logo">
                    <img src="/Content/Images/Evaluations/header_logo.png" alt="CommonJobs">
                </a>
                <nav class="header__sub">
                    <span class="header__user">
                        @User.Identity.Name
                        @if (User.Identity.AuthenticationType == "Forms")
                        {
                            <text>[<a href="@Url.Content("~/Account/LogOff")">LogOff</a>]</text>
                        }
                    </span>
                </nav>
            </div>
        </div>
    </header>
    <main class="content__main">
        @RenderBody()
    </main>
</body>
</html>