@using CommonJobs.Infrastructure.Mvc.SecurityTrimming
@using CommonJobs.Mvc.UI.HtmlHelpers
@{
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.7.2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-ui-1.8.23.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-ui-i18n.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/modernizr-1.7.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/json2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/moment.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/moment.i18n/es.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/twix.js"), priority: 900);
    ScriptManager.RegisterGlobalizationEntries(Url.Content("~/Scripts/jquery.globalize"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/themes/base/jquery.ui.all.css"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/Site.css"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/menu_style.less"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/css3-mediaqueries.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/underscore.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/backbone.js"), priority: 900);
    ScriptManager.RegisterGlobalJavascript("baseUrl", Url.Content("~"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/url-generator.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/jQuery-File-Upload/js/jquery.fileupload.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/DragAndDrop/DragAndDrop.js"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/bootstrap.less"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/responsive.less"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-modal.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-tooltip.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-popover.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-typeahead.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-collapse.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/EditCommon/Suggest.js"), priority: 900);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.RenderScriptManagerEntries(ScriptManager)
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")" />
</head>
<body>
    <div class="bootstrap-scope navbar-container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="@Url.Content("~")">CommonJobs</a>
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav nav-right">
                    @if (Request.IsAuthenticated && User != null && User.Identity != null && User.Identity.Name != null) 
				    {
					    //TODO: verify if the `if` is really necessary
					    <li class="username"><small>@User.Identity.Name</small></li>
				    }
                    @Html.Partial("EnvironmentBanner")
                </ul>
                
                <div class="nav-collapse collapse">
                <ul class="nav">
                    @Html.NavItem("Postulantes", "Index", "Applicants")
                    @Html.NavItem("Búsquedas", "Index", "JobSearches")
                    @Html.NavItem("Empleados", "Index", "Employees")
                    @Html.NavItem("Legajos", "Index", "EmployeeFiles")
                    @Html.NavItem("Vacaciones", "Index", "Vacations")
                    @Html.NavItem("Ausencias", "Index", "Absences")
                    @Html.NavItem("Archivos", "Index", "Attachments")
                    <li>
                        @Html.DocumentationLink("Ayuda")
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
	<div class="page">
		@RenderBody()  
	 </div>     
</body>
</html>
