@using CommonJobs.Infrastructure.Mvc.SecurityTrimming
@{
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-1.7.2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-ui-1.8.23.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery-ui-i18n.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/modernizr-1.7.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/json2.min.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/moment.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/moment.i18n/es.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/twix.js"), priority: 900);
    ScriptManager.RegisterGlobalizationEntries(Url.Content("~/Scripts/jquery.globalize"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/themes/base/jquery.ui.all.css"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/Site.css"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/menu_style.less"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/css3-mediaqueries.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/underscore.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/backbone.js"), priority: 900);
    ScriptManager.RegisterGlobalJavascript("baseUrl", Url.Content("~"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Scripts/url-generator.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/jQuery-File-Upload/js/jquery.fileupload.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/DragAndDrop/DragAndDrop.js"), priority: 900);
    ScriptManager.RegisterCss(Url.Content("~/Content/twitter-bootstrap/less/bootstrap.less"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-modal.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-tooltip.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-popover.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/twitter-bootstrap/js/bootstrap-typeahead.js"), priority: 900);
    ScriptManager.RegisterJs(Url.Content("~/Content/EditCommon/Suggest.js"), priority: 900);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.RenderScriptManagerEntries(ScriptManager)
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")" />
</head>
<body>
	<div class="page">
		<div>
			<ul class="menu"> 
                @Html.RenderIfHasPermission("Index", "Applicants"    , @<li class="top @(@item.IsActiveController ? "active" : "")">@Html.ActionLink("Postulantes", @item.ActionName, @item.ControllerName, null, new { @class = "top_link" })</li>)
                @Html.RenderIfHasPermission("Index", "JobSearches"   , @<li class="top @(@item.IsActiveController ? "active" : "")">@Html.ActionLink("Búsquedas"  , @item.ActionName, @item.ControllerName, null, new { @class = "top_link" })</li>)
                @Html.RenderIfHasPermission("Index", "Employees"     , @<li class="top @(@item.IsActiveController ? "active" : "")">@Html.ActionLink("Empleados"  , @item.ActionName, @item.ControllerName, null, new { @class = "top_link" })</li>)
                @Html.RenderIfHasPermission("Index", "EmployeeFiles" , @<li class="top @(@item.IsActiveController ? "active" : "")">@Html.ActionLink("Legajos"    , @item.ActionName, @item.ControllerName, null, new { @class = "top_link" })</li>)
                @Html.RenderIfHasPermission("Index", "Vacations"     , @<li class="top @(@item.IsActiveController ? "active" : "")">@Html.ActionLink("Vacaciones" , @item.ActionName, @item.ControllerName, null, new { @class = "top_link" })</li>)
                @Html.RenderIfHasPermission("Index", "Attachments"   , @<li class="top @(@item.IsActiveController ? "active" : "")">@Html.ActionLink("Archivos"   , @item.ActionName, @item.ControllerName, null, new { @class = "top_link" })</li>)
                @Html.Partial("EnvironmentBanner")
                @if (Request.IsAuthenticated && User != null && User.Identity != null && User.Identity.Name != null) 
				{
					//TODO: verify if the `if` is really necessary
					<li class="username"><span>@User.Identity.Name</span></li>
				}
			</ul>
		</div>
		@RenderBody()  
	 </div>     
</body>
</html>
