@model CommonJobs.Infrastructure.EmployeeSearching.EmployeeSearchResult[]
@using CommonJobs.Utilities;

@{
    Layout = null;
    <script>
        //TODO: it should be in Index.html
        //TODO FIXME replace this retardation with a good approach -- I just wanted the links out of my way
        function editEmployee(id) {
            window.location = "/Employees/Edit/" + id;
            return false;
        }
        function addNewEmployee() {
            window.location = "@Url.Action("Create")";
        }
    </script>

    <div class="card column" id="addNewCard" onclick="addNewEmployee()">
        <img class="cardPicture" src="@Url.Content("~/Content/Images/AddEmployee.png")" alt="Agregar nuevo..."  />
        <div class="cardDescription">
            <p>@Html.ActionLink("Agregar nuevo...", "Create")</p>
        </div>
    </div>
        
    foreach (var employee in Model)
    {
        var employeePic = employee.Photo == null
            ? Url.Content("~/Content/Images/NoPicture.png")
            : Url.Action("Get", "Attachments", new { id = employee.Photo.Thumbnail.Id });
        
        <div class="card column" onclick="editEmployee('@employee.Id')">
            <img class="cardPicture" src="@employeePic" alt="@employee.FirstName @employee.LastName's picture" />
            <div class="cardDescription">
                <p class="name">@Html.ActionLink(employee.FirstName + " " + employee.LastName, "Edit", new { id = employee.Id })</p>
                <p class="employeeProject">@employee.CurrentProject</p>
                <p class="position">@employee.CurrentPosition</p>
                <p class="tags">
                    @{
                        //TODO replace with a collection of skills, order from most skilled to less
                        var tags = string.IsNullOrEmpty(employee.Skills)
                            ? Enumerable.Empty<string>()
                            : employee.Skills.Split(',');
                        foreach (var tag in tags)
                        {
                            <span class="tag">@tag</span>
                        }
                    }
                </p>
            </div>
        </div>
    }
}