@using CommonJobs.Infrastructure.Mvc.SecurityTrimming
@using CommonJobs.Mvc.UI.HtmlHelpers
@{
    ScriptManager.RegisterCss(Url.Content("~/Content/mymenu.css"), priority: 900);
}

<!DOCTYPE html>
<html class="bootstrap-scope">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        @Html.RenderScriptManagerEntries(ScriptManager)
        <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")" />
    </head>
    <body>
        <header class="header__main">
            <div class="header__holder">
                <div class="suit-wrapper">
                    <a href="@Url.Content("~")" class="logo">
                        <img src="/Content/Images/Evaluations/header_logo.png" alt="CommonJobs">
                    </a>
                    @if (ViewBag.IsUserEvaluator != null && ViewBag.IsUserEvaluator)
                    {
                        <div class="header__breadcrum"><a href="@Url.Content("~/Evaluations/" + ViewBag.Period)">Dashboard</a> > Evaluación</div>
                    }
                    else if (ViewBag.IsPeriodCreation != null && ViewBag.IsPeriodCreation)
                    {
                        <div class="header__breadcrum">Period</div>
                    }
                    else if (ViewBag.IsDashboard != null && ViewBag.IsDashboard)
                    {
                        <div class="header__breadcrum">Dashboard</div>
                    }
                    else if (ViewBag.IsReportDashboard != null && ViewBag.IsReportDashboard)
                    {
                        <div class="header__breadcrum">HR Dashboard</div>
                    }
                    <nav class="header__sub">
                        <a href="http://commonjobs.makingsense.com/documentation/docs/manual-de-usuario/evaluaciones" class="icon-question-mark" target="_blank"></a>
                        <span class="header__user">
                            @User.Identity.Name
                            @if (User.Identity.AuthenticationType == "Forms")
                            {
                                <text>[<a href="@Url.Content("~/Account/LogOff")">LogOff</a>]</text>
                            }
                        </span>
                    </nav>
                </div>
            </div>
            <nav class="nav__main">
                <div class="suit-wrapper">
                    <a href="@Url.Content("~/Evaluations/Create/" + ViewBag.Period)" class="page--is-active" title="Administración de períodos">Administración de Períodos</a>
                    <a href="@Url.Content("~/Evaluations/" + ViewBag.Period)" title="Evaluaciones">Evaluaciones</a>
                    <a href="@Url.Content("~/Evaluations/report")" title="Historial de Evaluaciones">Historial de Evaluaciones</a>
                </div>
            </nav>
        </header>
        <main class="content__main">
            @RenderBody()
        </main>
        <footer class="footer__main suit-wrapper">
            <p>EvalForm es un desarrollo OpenSource realizado en ratos libres. Cualquier mejora es bienvenida, <a href="#" title="Descargá el código fuente de GitHub">descargá el código fuente de GitHub</a> y hacé tu Pull Request.</p>
        </footer>
    </body>
</html>