@{
    ViewBag.Title = "Index";
    ScriptManager.RegisterCss(Url.Content("~/Content/home.less"));
}

<h1>¡Bienvenido a CommonJobs!</h1>

<div class="menuContainer">
    <h2>Elija una sección del sistema:</h2>

    @MenuItem("Empleados", Url.Content("~/Content/Home/employees.png"))
    @MenuItem("Legajos", Url.Content("~/Content/Home/files.png"))
    @MenuItem("Archivos", Url.Content("~/Content/Home/attach.png"))
    @MenuItem("MyMenu", Url.Content("~/Content/Home/mymenu.png"))

    @MenuItem("Postulantes", Url.Content("~/Content/Home/applicant.png"))
    @MenuItem("Vacaciones", Url.Content("~/Content/Home/vacation.png"))
    @MenuItem("Ausencias", Url.Content("~/Content/Home/absence.png"))
    @MenuItem("Búsquedas", Url.Content("~/Content/Home/search.png"))

    <h2>O infórmese sobre el proyecto <em>CommonJobs</em>:</h2>

    @MenuItem("Documentación", Url.Content("~/Content/Home/documentation.png"), true)
    @MenuItem("Manual de usuario", Url.Content("~/Content/Home/manual.png"), true)
    @MenuItem("Código fuente", Url.Content("~/Content/Home/sourcecode.png"), true)
</div>

@helper MenuItem(string label, string imageUrl, bool isLarge = false) {
    <div class="menuItem @(isLarge ? "large" : string.Empty)">
        <img src="@imageUrl" alt="@label" />
        <p>@label</p>
    </div>
}