@using CommonJobs.Infrastructure.Mvc.SecurityTrimming
@{
    ViewBag.Title = "Index";
    ScriptManager.RegisterCss(Url.Content("~/Content/home.less"));
}

<div class="bootstrap-scope">

<h2>¡Bienvenido a CommonJobs!</h2>

<div class="menuContainer">
    <h3>Elija una sección del sistema:</h3>

    @MenuItem("Empleados", Url.Content("~/Content/Home/employees.png"), "Index", "Employees")
    @MenuItem("Legajos", Url.Content("~/Content/Home/files.png"), "Index", "EmployeeFiles")
    @MenuItem("Archivos", Url.Content("~/Content/Home/attach.png"), "Index", "Attachments")
    @MenuItem("MyMenu", Url.Content("~/Content/Home/mymenu.png"), "Index", "MyMenu")

    @MenuItem("Postulantes", Url.Content("~/Content/Home/applicant.png"), "Index", "Applicants")
    @MenuItem("Vacaciones", Url.Content("~/Content/Home/vacation.png"), "Index", "Vacations")
    @MenuItem("Ausencias", Url.Content("~/Content/Home/absence.png"), "Index", "Absences")
    @MenuItem("Búsquedas", Url.Content("~/Content/Home/search.png"), "Index", "JobSearches")

    <h3>O infórmese sobre el proyecto <em>CommonJobs</em>:</h3>

    @MenuLinkItem("Documentación", Url.Content("~/Content/Home/documentation.png"), "http://todo.com/plete", true) @*TODO: Complete*@
    @MenuLinkItem("Manual de usuario", Url.Content("~/Content/Home/manual.png"), "http://todo.com/plete", true) @*TODO: Complete*@
    @MenuLinkItem("Código fuente", Url.Content("~/Content/Home/sourcecode.png"), "https://github.com/CommonJobs/CommonJobs", true)

    <div class="footer">
        <br />
        <hr/>
        <strong>MyMenu</strong> es un desarrollo <em>OpenSource</em> realizado en ratos libres. Cualquier mejora es bienvenida, descargá el <a href="https://github.com/CommonJobs/CommonJobs">código fuente de GitHub</a> y hacé tu <em>Pull Request</em>.
        <br />
    </div>

</div>
</div>

@helper MenuLinkItem(string label, string imageUrl, string linkTo, bool isLarge = false)
{
    <a class="menuItem @(isLarge ? "large" : string.Empty)" href="@linkTo">
        <img src="@imageUrl" alt="@label" />
        <p>@label</p>
    </a>
}

@helper MenuDisabledItem(string label, string imageUrl, bool isLarge = false)
{
    <div class="disabled menuItem @(isLarge ? "large" : string.Empty)">
        <img src="@imageUrl" alt="@label" />
        <p>@label</p>
    </div>
}

@helper MenuItem(string label, string imageUrl, string action, string controller, bool isLarge = false) 
{
    if (Html.HasPermission(action, controller))
    {
        @MenuLinkItem(label, imageUrl, Url.Action(action, controller), isLarge)
    }
    else 
    {
        @MenuDisabledItem(label, imageUrl, isLarge)
    }
}
