@using CommonJobs.Infrastructure.Mvc.SecurityTrimming
@{
    ViewBag.Title = "Index";
    ScriptManager.RegisterCss(Url.Content("~/Content/home.less"));
}

<h1>¡Bienvenido a CommonJobs!</h1>

<div class="menuContainer">
    <h2>Elija una sección del sistema:</h2>

    @MenuItem("Empleados", Url.Content("~/Content/Home/employees.png"), "Index", "Employees")
    @MenuItem("Legajos", Url.Content("~/Content/Home/files.png"), "Index", "EmployeeFiles")
    @MenuItem("Archivos", Url.Content("~/Content/Home/attach.png"), "Index", "Attachments")
    @MenuItem("MyMenu", Url.Content("~/Content/Home/mymenu.png"), "Index", "MyMenu")

    @MenuItem("Postulantes", Url.Content("~/Content/Home/applicant.png"), "Index", "Applicants")
    @MenuItem("Vacaciones", Url.Content("~/Content/Home/vacation.png"), "Index", "Vacations")
    @MenuItem("Ausencias", Url.Content("~/Content/Home/absence.png"), "Index", "Absences")
    @MenuItem("Búsquedas", Url.Content("~/Content/Home/search.png"), "Index", "JobSearches")

    <h2>O infórmese sobre el proyecto <em>CommonJobs</em>:</h2>

    @MenuItem("Documentación", Url.Content("~/Content/Home/documentation.png"), "http://todo.com/plete", true) @*TODO: Complete*@
    @MenuItem("Manual de usuario", Url.Content("~/Content/Home/manual.png"), "http://todo.com/plete", true) @*TODO: Complete*@
    @MenuItem("Código fuente", Url.Content("~/Content/Home/sourcecode.png"), "https://github.com/CommonJobs/CommonJobs", true)
</div>

@helper MenuItem(string label, string imageUrl, string linkTo, bool isLarge = false, bool hasPermission = true)
{
    <a class="menuItem @(isLarge ? "large" : string.Empty)" href="@linkTo">
        <img src="@imageUrl" alt="@label" />
        <p>@label</p>
    </a>
}

@helper MenuItem(string label, string imageUrl, string action, string controller, bool isLarge = false) {
    @Html.RenderIfHasPermission(action, controller, 
      @: @MenuItem(label, imageUrl, Url.Action(action, controller), isLarge)
    )
}
