@using CommonJobs.Infrastructure.Migrations
@model Dictionary<string, MigrationDescriptor>

@{
  Layout = null;
  ViewBag.Title = "Migrations";
  var migrations = Model.Values.OrderBy(x => x.Id);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>

<body>

<h1>Migrations</h1>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken("To avoid IP spoofing")
  <table>
    <thead>
      <tr>
        <td>Key</td>
        <td>Class</td>
        <td>Description</td>
        <td>Status</td>
        <td>Action</td>
    </thead>
    <tbody>
      @{
  var count = 0;
  foreach (var migration in migrations)
  {
          <tr>
            <td>@migration.Id</td>
            <td>@migration.MigrationTypeFullName</td>
            <td>@migration.Description</td>
            <td>@migration.Status @Info(migration)</td>
            <td>
              @Html.Hidden(string.Format("actions[{0}].Id", count), migration.Id)
              @Html.DropDownList(string.Format("actions[{0}].Action", count), PossibleActions(migration.Status))
            </td>
          </tr>
    count++;
  }
      }
    </tbody>
  </table>
  
  <input type="submit" name="submit" />
}
</body>
</html>

@helper Info(MigrationDescriptor migration)
{
  if (migration.Messages.Any())
  {
    <span title="@string.Join("\n\n", migration.Messages.OrderByDescending(x => x.Date).Select(x => string.Format("{0} on {1} action: '{2}'", x.Date, x.Action, x.Message)))"><b>(i)</b></span>
  }
}

@functions {
  IEnumerable<SelectListItem> PossibleActions(MigrationStatus status)
  {
    switch (status)
    {
      case MigrationStatus.Installed:
        yield return new SelectListItem() { Text = "None", Value = MigrationActionType.None.ToString(), Selected = true };
        yield return new SelectListItem() { Text = "Uninstall", Value = MigrationActionType.Down.ToString() };
        yield return new SelectListItem() { Text = "Reinstall", Value = MigrationActionType.Up.ToString() };
        break;
      case MigrationStatus.Installing:
        yield return new SelectListItem() { Text = "None", Value = MigrationActionType.None.ToString() };
        yield return new SelectListItem() { Text = "Uninstall", Value = MigrationActionType.Down.ToString() };
        yield return new SelectListItem() { Text = "Reinstall", Value = MigrationActionType.Up.ToString(), Selected = true };
        break;
      case MigrationStatus.InstalledObsolete:
        yield return new SelectListItem() { Text = "None", Value = MigrationActionType.None.ToString(), Selected = true };
        yield return new SelectListItem() { Text = "Remove", Value = MigrationActionType.Down.ToString() };
        break;
      case MigrationStatus.NotInstalled:
        yield return new SelectListItem() { Text = "None", Value = MigrationActionType.None.ToString() };
        yield return new SelectListItem() { Text = "Execute Uninstall", Value = MigrationActionType.Down.ToString() };
        yield return new SelectListItem() { Text = "Install", Value = MigrationActionType.Up.ToString(), Selected = true };
        break;
      case MigrationStatus.Uninstalling:
        yield return new SelectListItem() { Text = "None", Value = MigrationActionType.None.ToString(), Selected = true };
        yield return new SelectListItem() { Text = "Uninstall", Value = MigrationActionType.Down.ToString() };
        yield return new SelectListItem() { Text = "Reinstall", Value = MigrationActionType.Up.ToString() };
        break;
    }
  }
}