@model CommonJobs.Infrastructure.ApplicantSearching.ApplicantSearchParameters
@{
    ViewBag.Title = "Postulantes | CommonJobs";
    ScriptManager.RegisterCss(Url.Content("~/Content/ie.css"), priority: 500, htmlAttributes: new { media = "screen" }, patchCondition: "lte IE 9");
    ScriptManager.RegisterCss(Url.Content("~/Content/1140.css"), priority: 500, htmlAttributes: new { media = "screen" });
    ScriptManager.RegisterCss(Url.Content("~/Content/reset.css"), priority: 500);
    ScriptManager.RegisterCss(Url.Content("~/Content/ApplicantsListing/ApplicantsListing.less"));
    ScriptManager.RegisterJs(Url.Content("~/Content/ApplicantsListing/ApplicantsListing.js"));
}
<div class="container searchContainer">
    <h1>Postulantes</h1>

    <div class="row">
        <div class="twocol"></div>
        <div class="eightcol quickSearchContainer">
            <form method="get" action="javascript:void(0);">
                <div class="mainSearch">
                    <label for="quickSearch">Búsqueda rápida:</label>
                    <input type="text" id="quickSearch" name="Term" value="@Model.Term" />
                    <input type="submit" id="quickSearchSubmit" value=">>" />
                </div>
                <div class="secondarySearch">
                    <label>Resaltado</label><input type="checkbox" id="HighlightedCheck" name="Highlighted" @(Model.Highlighted ? "checked='checked'" : string.Empty) />
                    <label>¿Con entrevistas?</label><input type="checkbox" id="HaveInterviewCheck" name="HaveInterview" @(Model.HaveInterview ? "checked='checked'" : string.Empty)/>
                    <label>¿Con entrevistas técnicas?</label><input type="checkbox" id="HaveTechnicalInterviewCheck" name="HaveTechnicalInterview" @(Model.HaveTechnicalInterview ? "checked='checked'" : string.Empty) />
                    <br /><label>¿Buscar en adjuntos?</label><input type="checkbox" id="SearchInAttachmentsCheck" name="SearchInAttachments" @(Model.SearchInAttachments ? "checked='checked'" : string.Empty) />
                </div>
            </form>
            <p id="resultCountNotice">Hay <span id="resultCount">0</span> resultado(s).</p>
        </div>
        <div class="twocol last"></div>
    </div>
</div>
<div class="results">
    @Html.Action("List", Model) 
</div>
