@model CommonJobs.Infrastructure.ApplicantSearching.ApplicantSearchParameters
@{
    ViewBag.Title = "Postulantes | CommonJobs";
    ScriptManager.RegisterCss(Url.Content("~/Content/ie.css"), priority: 500, htmlAttributes: new { media = "screen" }, patchCondition: "lte IE 9");
    ScriptManager.RegisterCss(Url.Content("~/Content/1140.css"), priority: 500, htmlAttributes: new { media = "screen" });
    ScriptManager.RegisterCss(Url.Content("~/Content/reset.css"), priority: 500);
    ScriptManager.RegisterCss(Url.Content("~/Content/ApplicantsListing.less"));
}
<script type="text/javascript">
    //TODO: move it to a .js file
    $(function () {

        function setResultCount() {
            $("#resultCount").html($(".card").length - 1);
        }

        var loadResultsXHR = null;
        $(".results").ajaxSend(function (event, jqXHR, ajaxOptions) {
            if (loadResultsXHR)
                loadResultsXHR.abort();
            loadResultsXHR = jqXHR;
        });

        function search(ajax) {
            //TODO Fix hardcoded URLs

            var query = "?term=" + encodeURI($("#quickSearch").val());
            if ($("#HighlightedCheck").prop("checked"))
                query += "&Highlighted=true";
            if ($("#HaveInterviewCheck").prop("checked"))
                query += "&HaveInterview=true";
            if ($("#HaveTechnicalInterviewCheck").prop("checked"))
                query += "&HaveTechnicalInterview=true";
            if ($("#SearchInAttachmentsCheck").prop("checked"))
                query += "&SearchInAttachments=true";


            if (ajax) {
                $(".results").load("/Applicants/List" + query, null, setResultCount);
            } else {
                location.href = "/Applicants" + query;
            }
        }

        $("#quickSearch").keyup(function (e) {
            search(e.keyCode != 13);
        });

        $("#HighlightedCheck, #HaveInterviewCheck, #HaveTechnicalInterviewCheck, #SearchInAttachmentsCheck").change(function () {
            search(true);
        });

        $("#quickSearchSubmit").click(function () {
            search(false);
        });

        setResultCount();
    });
</script>
<div class="container searchContainer">
    <h1>Postulantes</h1>

    <div class="row">
        <div class="twocol"></div>
        <div class="eightcol quickSearchContainer">
            <form method="get" action="javascript:void(0);">
                <div class="mainSearch">
                    <label for="quickSearch">Búsqueda rápida:</label>
                    <input type="text" id="quickSearch" name="Term" value="@Model.Term" />
                    <input type="submit" id="quickSearchSubmit" value=">>" />
                </div>
                <div class="secondarySearch">
                    <label>Resaltado</label><input type="checkbox" id="HighlightedCheck" name="Highlighted" @(Model.Highlighted ? "checked='checked'" : string.Empty) />
                    <label>¿Con entrevistas?</label><input type="checkbox" id="HaveInterviewCheck" name="HaveInterview" @(Model.HaveInterview ? "checked='checked'" : string.Empty)/>
                    <label>¿Con entrevistas técnicas?</label><input type="checkbox" id="HaveTechnicalInterviewCheck" name="HaveTechnicalInterview" @(Model.HaveTechnicalInterview ? "checked='checked'" : string.Empty) />
                    <br /><label>¿Buscar en adjuntos?</label><input type="checkbox" id="SearchInAttachmentsCheck" name="SearchInAttachments" @(Model.SearchInAttachments ? "checked='checked'" : string.Empty) />
                </div>
            </form>
            <p id="resultCountNotice">Hay <span id="resultCount">0</span> resultado(s).</p>
        </div>
        <div class="twocol last"></div>
    </div>
</div>
<div class="results">
    @Html.Action("List", Model) 
</div>
