@model CommonJobs.Mvc.UI.Controllers.LogOnModel

@{
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery.validate.min.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js"));

    ViewBag.Title = "Iniciar sesión";
}

<div class="bootstrap-scope">
<div class="hero-unit">
  <h1>Google Authentication</h1>
  <p>Utilizá tu cuenta de email @@makingsense.com para ingresar.</p>
  <p>
    @Html.ActionLink("Ingresar!", "index", "GoogleAuthentication", new { returnUrl = ViewBag.ReturnUrl }, new { @class = "btn btn-primary btn-large", style = "color: white;" })
  </p>
</div>

<br />
<br />
<hr />

<div class="muted">
<p>Si Google no funciona, algunos usuarios pueden utilizar la autenticación local: </p>

@Html.ValidationSummary(true, "No se pudo iniciar sesión. Corrija los errores e intente nuevamente.")

@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "form-inline" })) {
    <text>&nbsp;</text>@Html.TextBoxFor(m => m.UserName, new { @class = "input-small", placeholder = "Username" })
    @Html.ValidationMessageFor(m => m.UserName)
    <text>&nbsp;</text>@Html.PasswordFor(m => m.Password, new { @class = "input-small", placeholder = "Password" })
    @Html.ValidationMessageFor(m => m.Password)
    <text>&nbsp;</text><label class="checkbox">
      Recordar Usuario
      @Html.CheckBoxFor(m => m.RememberMe)
    </label>
    <text>&nbsp;</text><button type="submit" class="btn">Iniciar sesión</button>
}
</div>