@model CommonJobs.Mvc.UI.Controllers.LogOnModel

@{
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery.validate.min.js"));
    ScriptManager.RegisterJs(Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js"));

    ViewBag.Title = "Iniciar sesión";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Utilizar Google Authentication para ingresar utilizando tu cuenta de @makingsense.com", "index", "GoogleAuthentication", new { returnUrl = ViewBag.ReturnUrl }, null);
</div>


@Html.ValidationSummary(true, "No se pudo iniciar sesión. Corrija los errores e intente nuevamente.")

@using (Html.BeginForm()) {
    <div>
        <div class="editor-label">
            @Html.LabelFor(m => m.UserName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>

        <p>
            <input type="submit" value="Iniciar sesión" />
        </p>
    </div>
}
